html
    head
        meta(name='viewport', content = 'width=device-width, initial-scale=1')
        title Sistema
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    body
        block content
            .main.container
                .row
                    .col-md-6.col-md-offset-3
                        h1.display-4.m-b-2 Editar Producto                            
                        form.form-signin(action="/producto/update",method = "post")
                            input(type="hidden" name="id" value="#{data._id}") 
                         
                            div.form-group
                                label(for='nombre') Nombre:
                                input#nombre.form-control(type="text"  )
                            div.form-group
                                label(for='descripcion') Descripcion:
                                input#descripcion.form-control(type="text" name="descripcion" )
                            div.form-group
                                label(for='precio') Precio:
                                input#precio.form-control(type="text" name="precio" )
                                 br
                                 br
                             button.btn.btn-large.btn-success(type="submit")     